@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  /* Main Colors */
  --color-primary: #1c3b6c; /* Deep Navy (Primary brand color on Light BG) */
  --color-secondary: #1a7a77; /* Deep Mist Green */
  --color-accent: #ffd700; /* Classic Gold (Prizes/Winners - Consistent with Dark Mode) */
  --color-neutral: #202020; /* Deep Text Gray (Text color) */
  --color-base-100: #f7f7f7; /* Ultra-Light Gray (Background) */

  /* Feedback Colors (Standard, high-contrast) */
  --color-info: #3b82f6;
  --color-success: #2ecc71;
  --color-warning: #f39c12;
  --color-error: #e74c3c;
}

@plugin "daisyui/theme" {
  name: "dark";

  /* Main Colors */

  --color-primary: #4a90e2; /* Vibrant Blue (Matching Footer's CTA) */
  --color-secondary: #4ad9a9; /* Modern Accent */
  --color-accent: #ffd700; /* Classic Gold (For Prizes/Logo) */
  --color-neutral: #fafafa; /* Text Color */
  --color-base-100: #0d1321; /* Deep Dark Navy (Matches Footer Background) */

  /* Feedback Colors (High-Contrast for Readability) */
  --color-info: #3b82f6;
  --color-success: #2ecc71;
  --color-warning: #f39c12;
  --color-error: #e74c3c;
}

* {
  font-family: "Urbanist", sans-serif;
}


/* Custom DatePicker Popper */
.react-datepicker {
  border: none !important;
  border-radius: 12px !important;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1) !important;
  padding: 8px !important;
}

/* Header */
.react-datepicker__header {
  background: transparent !important;
  border-bottom: none !important;
  padding-top: 12px !important;
}

/* Day Hover */
.react-datepicker__day:hover {
  background-color: #00b07420 !important;
}

/* Selected Day */
.react-datepicker__day--selected {
  background-color: #00b074 !important;
  color: white !important;
}
